{% extends 'dashboard_base.html' %}
{% load static %}
{% load custom_filters %}
{% load i18n %}

{% block dashboard_content %}

<div class="px-4 pt-6">
    {% include 'tasks_header.html' %}
    {% if distributor_order %}
        <div class="mb-4 p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <!-- Card header -->
          <div class="items-center justify-between lg:flex">
            <div class="mb-4 lg:mb-0">
              <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">{% trans 'Distributor order' %}</h3>
              <span class="text-base font-normal text-gray-500 dark:text-gray-400">{% trans 'Summary details for week of' %} {{ distributor_order.order_for_week_of }}</span>
            </div>
          </div>
          <!-- Table -->
          <ul>
            <div class="flex flex-col mt-1">
              <div class="overflow-x-auto rounded-lg">
                <div class="inline-block min-w-full align-middle">
                  <div class="overflow-hidden shadow sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
                      <thead class="bg-gray-50 dark:bg-gray-700">
                        <tr>
                          <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                            {% trans 'Basket' %}
                          </th>
                          <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                            {% trans 'Product' %}
                          </th>
                          <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                            {% trans 'Sold in' %}
                          </th>
                          <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                            {% trans 'Unit' %}
                          </th>
                          <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                            {% trans 'Price per unit' %}
                          </th>
                          <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                            {% trans 'Quantity of units to purchase' %}
                          </th>
                          <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                            {% trans 'Purchase price' %}
                          </th>
                          <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                            {% trans 'Units per basket' %}
                          </th>
                          <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                            {% trans 'Cost per basket' %}
                          </th>
                        </tr>
                      </thead>
                      <tbody class="bg-white dark:bg-gray-800">
                      {% for basket_order in distributor_order.basket_orders.all %}
                        {% for item in basket_order.basket_order_items.all %}
                          <tr>
                            <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                                {{ basket_order.basket_name }}
                            </td>
                            <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                                {{ item.weekly_basket_item.product.name }}
                            </td>
                            <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                                {{ item.weekly_basket_item.product.units_by_packaging }}
                            </td>
                            <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                                {{ item.weekly_basket_item.product.primary_packaging_unit }}
                            </td>
                            <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                                {{ item.weekly_basket_item.product.latest_price|floatformat:2 }}
                            </td>
                            <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                                <form class="max-w-xs mx-auto" method="post" action="{% url 'modify_distributor_order_basket' %}">
                                    {% csrf_token %}
                                    <div class="relative flex items-center max-w-[8rem]">
                                        <button type="button" class="decrement-btn bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none" data-id="{{ item.weekly_basket_item.product.id }}" data-price="{{ item.weekly_basket_item.product.latest_price }}" data-basket-quantity="{{ item.units_per_basket }}">
                                            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                                            </svg>
                                        </button>
                                        <input type="text" id="quantity-input-{{ item.weekly_basket_item.product.id }}" data-input-counter class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ item.quantity }}" required />
                                        <button type="button" class="increment-btn bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none" data-id="{{ item.weekly_basket_item.product.id }}" data-price="{{ item.weekly_basket_item.product.latest_price }}" data-basket-quantity="{{ item.units_per_basket }}">
                                            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </td>
                            <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white quantity-price-{{ item.weekly_basket_item.product.id }}">
                                {{ item.quantity_price|floatformat:2 }}
                            </td>
                            <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white units-per-basket-{{ item.weekly_basket_item.product.id }}">
                                {{ item.units_per_basket }}
                            </td>
                            <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white cost-per-basket-{{ item.weekly_basket_item.product.id }}">
                                {{ item.cost_per_basket|floatformat:2 }}
                            </td>
                          </tr>
                        {% endfor %}
                        <tr>
                          <td colspan="9" class="text-right p-4 text-md font-normal text-gray-900 whitespace-nowrap dark:text-white">
                            {% trans 'Cost per basket' %} <strong class="cost-per-basket-{{ basket_order.id }}">${{ basket_order.total_cost|floatformat:2 }}</strong>
                            {% trans 'Total basket budget' %} <strong>${{ basket_order.total_basket_budget|floatformat:2 }}</strong>
                            {% trans 'Subtotal' %} <strong class="subtotal-{{ basket_order.id }}">${{ basket_order.basket_cost|floatformat:2 }}</strong>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="9" class="border-t border-gray-150 dark:border-gray-600"></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                      <tfoot class="bg-white dark:bg-gray-701 border-t border-gray-300 dark:border-gray-600">
                          <td colspan="9" class="text-right p-4 text-lg font-normal text-gray-900 whitespace-nowrap dark:text-white">
                            {% trans 'Total budget' %} <strong>${{ distributor_order.total_budget|floatformat:2 }}</strong>
                            {% trans 'Total cost' %} <strong class="total-cost">${{ distributor_order.total_purchase_cost|floatformat:2 }}</strong>
                          </td>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
    {% endif %}
    <div class="mb-4 p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <!-- Card header -->
      <div class="items-center justify-between lg:flex">
        <div class="mb-4 lg:mb-0">
          <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">{% trans 'Member orders' %}</h3>
          <span class="text-base font-normal text-gray-500 dark:text-gray-400">{% trans 'Breakdown of all orders received by members this week' %}</span>
        </div>
      </div>
      <!-- Table -->
      {% if member_orders %}
        <div class="flex flex-col mt-6">
          <div class="overflow-x-auto rounded-lg">
            <div class="inline-block min-w-full align-middle">
              <div class="overflow-hidden shadow sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
                  <thead class="bg-gray-50 dark:bg-gray-700">
                    <tr>
                      <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                        {% trans 'Member' %}
                      </th>
                      <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                        {% trans 'Received at' %}
                      </th>
                      {% for basket in member_baskets %}
                        <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                          {{ basket }}
                        </th>
                      {% endfor %}
                      <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                        {% trans 'Total cost' %}
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white dark:bg-gray-800">
                  {% for order in member_orders %}
                    <tr>
                      <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                        {{ order.user }}
                      </td>
                      <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                        {{ order.created_at }}
                      </td>
                      {% for basket in member_baskets %}
                          <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                              {{ order.basket_quantities|get_item:basket|default:'-' }}
                          </td>
                      {% endfor %}
                      <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap dark:text-gray-400">
                        ${{ order.total_cost|floatformat:2 }}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot class="bg-white dark:bg-gray-701 border-t border-gray-300 dark:border-gray-600">
                      <tr>
                          <td class="p-2"></td>
                          <td class="p-2"></td>
                          {% for basket, quantity in member_orders_summary.baskets.items %}
                            <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap dark:text-gray-400">{{ quantity }}</td>
                          {% endfor %}
                          <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap dark:text-gray-400">${{ member_orders_summary.total_cost|floatformat:2 }}</td>
                      </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Card Footer -->

      {% if not distributor_order %}
          <form method="POST" action="{% url 'create_distributor_order' %}">
              {% csrf_token %}
              <div class="bg-white py-4 px-4">
                  <button type="submit" class="inline-block px-4 py-2 text-white bg-blue-600 rounded hover:bg-blue-700">{% trans 'Generate distributor order' %}</button>
              </div>
          </form>
      {% endif %}
    {% else %}
        <div class="items-center justify-between lg:flex">
          <div class="mt-4 lg:mb-0">
            <span class="text-base font-semibold text-gray-500 dark:text-gray-400">{% trans 'No orders received yet' %}</span>
          </div>
        </div>
    {% endif %}
</div>

<script type="text/javascript">
  const modifyDistributorOrderBasketUrl = "{% url 'modify_distributor_order_basket' %}";
</script>
<script src="{% static 'js/modify_distributor_order_item_quantity.js' %}"></script>


{% endblock dashboard_content %}
