{% extends 'dashboard_base.html' %}
{% load custom_filters %}
{% load i18n %}

{% block dashboard_content %}

<div class="px-4 pt-6">
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <!-- Card header -->
      <div class="items-center justify-between lg:flex">
        <div class="mb-4 lg:mb-0">
          <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">{% trans 'Weekly basket not yet open' %}</h3>
          <span class="text-base font-normal text-gray-500 dark:text-gray-400">{% trans 'Check again a bit later' %}</span>
        </div>
      </div>
    </div>
</div>

{% endblock dashboard_content %}
