<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load tailwind_tags %}

<html lang="en">
<head>
    {% block header %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAY</title>
    <script src="{% static 'simple-datatables.js' %}"></script>
    <script src="{% static 'apexcharts.js' %}"></script>
    <script src="{% static 'flowbite.min.js' %}"></script>
    {% tailwind_preload_css %}
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'apexcharts.css' %}">
    {% endblock header %}
</head>
<body class="{% block body_class %}bg-gray-50 dark:bg-gray-900{% endblock %}">
    {% include 'navbar.html' %}
    
    {% block content %}
    {% endblock content %}
</body>
</html>
