{% extends 'dashboard_base.html' %}
{% load i18n %}

{% block dashboard_content %}

<div class="px-4 pt-6">
  <!-- 2 columns -->
  <div class="grid grid-cols-1 my-4 xl:grid-cols-2 xl:gap-4">
    <!-- Activity Card -->
    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 xl:mb-0">
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{% trans 'Latest Activity' %}</h3>
      </div>
      <ol class="relative dark:border-gray-700">                  
        <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-800 dark:bg-gray-700"></div>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{% trans 'Weekly basket orders are currently' %} {% if basket_open %}{% trans 'open' %}{% else %}{% trans 'closed' %}{% endif %}</time>
            <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">{% trans 'You can usually place orders between Tuesday and Thursday' %}</p>
            {% if basket_open %}
              <a href="{% url 'weekly_baskets' %}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-primary-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">{% trans 'Browse' %} <svg class="w-3 h-3 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></a>
          {% endif %}
        </li>
      </ol>
    </div>
  </div>
</div>

{% endblock dashboard_content %}
