{% extends 'base.html' %}

{% block content %}
<main class="bg-gray-50 dark:bg-gray-900">
    <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
        <div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
            {% include 'sidebar.html' %}

            {% block dashboard_content %}
            {% endblock dashboard_content %}

            {% include 'dashboard_footer.html' %}
        </div>
    </div>
</main>
{% endblock content %}
