{% extends 'dashboard_base.html' %}
{% load i18n %}

{% block dashboard_content %}

<div class="px-4 pt-6">
  {% include 'tasks_header.html' %}
  <div class="grid grid-cols-1 px-4 gap-4 dark:bg-gray-900 lg:grid-cols-2">
      <div class="col-span-2">
          <div class="grid w-full grid-cols-1 gap-4 mt-4 md:grid-cols-2 2xl:grid-cols-3">
              {% for basket in baskets %}
                  <div class="p-4 mb-2 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 dark:bg-gray-800">
                      <div class="flex flex-col sm:flex-row sm:items-start sm:justify-between">
                          <div class="flex flex-col mb-4 sm:mb-0">
                              <span class="block mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ basket.name }}</span>
                              <div class="flex items-end">
                                  <span class="text-2xl">${{ basket.prices.last.price|floatformat:0 }}</span>
                                  <span class="text-sm text-gray-600 dark:text-gray-400 ml-1">/{% trans 'basket' %}</span>
                              </div>
                              <span class="flex items-center mt-4">
                                <div class="bg-white py-4 px-4">
                                    <a href="{% url 'tasks:manage_weekly_basket_items' basket.id %}" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">{% if basket.basket_items.all %}{% trans 'Modify' %}{% else %}{% trans 'Create' %}{% endif %}</a>
                                </div>
                              </span>
                          </div>
                          <ul role="list" class="mb-4 items-center space-y-2 sm:mb-0 sm:ml-4 sm:w-1/2 list-disc list-inside text-sm">
                              {% if basket.basket_items.all %}
                                  {% for item in basket.basket_items.all %}
                                      <li class="flex text-gray-800 text-lg font-semibold items-center space-x-3">
                                          <span>{{ item.product.common_name }}</span>
                                      </li>
                                  {% endfor %}
                              {% else %}
                                  <strong>{% trans 'No items yet' %}</strong>
                              {% endif %}
                          </ul>
                      </div>
                  </div>
              {% endfor %}
              <form method="POST" action="{% url 'tasks:create_weekly_baskets' %}">
                  {% csrf_token %}
                  <div class="flex flex-col space-y-2 mb-4 p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 dark:bg-gray-800">
                      <h1 class="text-md font-normal text-gray-900 dark:text-white">{% trans 'Basket order closing date' %}</h1> <!-- Title -->
                      <div class="flex space-x-4">  <!-- Flex container for date and time inputs -->
                          <div class="relative max-w-sm">
                              <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                      <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                  </svg>
                              </div>
                              <input datepicker id="date" name="date" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder={% trans 'Select date' %} required>
                          </div>
                          <div class="relative flex-grow">  <!-- Timepicker with flex-grow -->
                              <input type="time" id="time" name="time" class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" min="09:00" max="18:00" value="16:00" required />
                          </div>
                      </div>
                  </div>
                  <div class="col-span-1">
                      <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" type="submit">{% trans 'Publish baskets' %}</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock dashboard_content %}
